@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    
}

.header {
    padding: 16px;
}

.header div {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: auto;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
}

.header a {
    color: #e5e7eb;
    text-decoration: none;
}

.info,
.call {
    background-color: white;
}

.quote {
    background-color: #e5e7eb;
}

